<button ui-sref="search" class="btn btn-success moderator">Search</button>
<button class="btn btn-success moderator" ng-click="addPost()">Add post</button>

<div class="panel panel-primary" ng-repeat="post in posts track by post.id">
	<div class="panel-heading">
		{{post.title}}
	</div>

	<div class="panel-body">{{post.body}}</div>

	<div class="panel-footer">
		<a class="btn btn-primary" role="button" ng-click="showPost(post)">Show</a>
		<a class="btn btn-primary" role="button" ng-click="editPost(post)">Edit</a>
		<a class="btn btn-danger" role="button" ng-click="delete(post, $index)">Remove</a>
	</div>
</div>

<nav>
	<ul class="pager">
		<li><a href ng-click="prevPage()">Previous</a></li>
		<li>{{currentItem}} to {{currentItem + 9}} of {{total}}</li>
		<li><a href ng-click="nextPage()">Next</a></li>
	</ul>
</nav>

<post-modal></post-modal>
