<ol class="breadcrumb">
	<li><a ui-sref="posts">Home</a></li>
</ol>

<div class="panel panel-primary">
	<div class="panel-heading">
		{{post.title}}
	</div>
	<div class="panel-body">
		{{post.body}}
	</div>
</div>

<div class="panel panel-default">
	<div class="panel-body">
		<button class="btn btn-success" ng-click="addComment()">Add comment</button>

		<div class="media" ng-repeat="comment in comments">
			<div class="media-left">
				<img class="media-object comment_image" src="app/assets/img/comment.png" alt="comment">
			</div>
			<div class="media-body">
				<h4 class="media-heading">{{comment.name}}({{comment.email}})</h4>
				{{comment.body}}
			</div>

			<div class="media-right">
				<button class="btn btn-primary" ng-click="editComment(comment)">Edit</button>
				<button class="btn btn-danger" ng-click="remove(comment.id, $index)">R</button>
			</div>
		</div>

	</div>
</div>


<comment-modal></comment-modal>
