<div class="row">

	<ol class="breadcrumb">
		<li><a href ui-sref="posts" ui-sref-active-eq="active">Home</a></li>
		<li><a href ui-sref="post" ui-sref-active-eq="active">Post</a></li>
	</ol>

	<div class="col-md-offset-3 col-md-5">
		<div class="thumbnail">
			<div class="caption">

				<h3>{{post.title}}</h3>
				<p>{{post.body}}</p>

				<div>
					<!--<a class="btn btn-primary" role="button" ng-click="showPost(post)">Посмотреть</a>-->
					<!--<a class="btn btn-danger" role="button" ng-click="delete(post)">Удалить</a>-->
				</div>
			</div>
		</div>
	</div>
</div>
