<div class="row">

	<ol class="breadcrumb">
		<li><a href ui-sref="posts" ui-sref-active-eq="active">Home</a></li>
	</ol>

	<div class="panel panel-primary" ng-repeat="post in posts track by post.id">
		<div class="panel-body">
			{{post.title}}
		</div>

		<div class="panel-footer">{{post.body}}</div>

		<a class="btn btn-primary" role="button" ng-click="showPost(post)">Посмотреть</a>
		<a class="btn btn-danger" role="button" ng-click="delete(post, $index)">Удалить</a>
	</div>

	<nav aria-label="">
		<ul class="pager">
			<li><a href ng-click="prevPage()">Previous</a></li>
			<li>{{currentItem}} to {{currentItem + 9}}</li>
			<li><a href ng-click="nextPage()">Next</a></li>
		</ul>
	</nav>
</div>
